body,
html {
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  margin: 0 auto;
}

div .head-title {
  opacity: 10%;
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 50px;
}
span .head-title {
}

h2 {
  text-align: center;
  margin: 0 auto;
  margin: 30px;
}

p.introduction {
  padding: 20px 50px;
  padding-top: 10px;
  text-align: center;
  line-height: 1.5em;
}
p.subhead:first-letter {
  initial-letter: 4;
}

.img1,
.img2 {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img1 {
  background-image: url("images/pexels-ioana-motoc-9899552.jpg");
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 100%;
}

.img2-container {
  background-position: cover;
  opacity: 0, 8;
}
.img2 {
  background-position: relative;
  background-color: grey trans;

  background-image: url("images/papaya.jpg");
  height: 1000px;
  opacity: 0.6;
}
color: #ffbe26;
