body,
html {
  font-family: "Courier New", Courier, monospace;
  height: 100%;
  margin: 0 auto;
}

div .head-title {
  padding: 20px;
  opacity: 50%;
  background-color: brown;
  color: White;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 40px;
}

h2 {
  text-align: center;
  margin: 0 auto;
  margin: 30px;
}

p.introduction {
  padding: 20px 50px;
  padding-top: 10px;

  text-align: center;
}
p.subhead::first-letter {
  initial-letter: 4;
}

.img1,
.img2 {
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img1 {
  background-image: url("images/pexels-ioana-motoc-9899552.jpg");
  min-height: 100%;
}

.img2-container {
  background-color;
  background-position: cover;
  opacity: 0, 8;
}
.img2 {
  background-position: relative;
  background-image: url("images/seeds.jpg");
  height: 1000px;
  opacity:0.8em;
}
color: #ffbe26;
